.contenedorCarrito2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contenedorCarritoItem{
    height: auto;
    
}

.boton{
    text-align: center;
    width: 375px;
    margin-top: 2px;
}