.itemListContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.itemListContainer a{
    text-decoration: none;
}